.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin 2 .4s linear;
  height: 100px;
  pointer-events: none;
  margin-left: -42px;
  display: inline-block;
  transform: rotate(321deg);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-title {
  display: inline-block;
  margin-left: -42px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

